@{
    ViewBag.Title = "About Tank Library";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>TANK LIBRARY is designed and created by Frank Li and as one of his portfolio project to illustrate his skills on relative areas.</p>
<p>Hello, this is just added to test Jenkins.</p>
<p>Hello again, this is just added to test Jenkins auto build trigger by new push to GitHub.</p>
