@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Trumpington<br />
    Cambridge<br />
    CB2
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:frankli1009@gmail.com">frankli1009@gmail.com</a>
</address>